terratowns_endpoint="https://terratowns.cloud/api"
superfly = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/superfly"
  content_version = 2 
}
henry = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/henry"
  content_version = 1 
}