terratowns_endpoint="https://terratowns.cloud/api"
user_uuid="d4546c3c-2969-4aca-8882-7fb94505924a"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1